/* Reset first */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
	outline: 0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

/* General */

body {
	text-align: center;
	margin: 0;
	font-size: 1.15em;
	line-height: 1.55em;
	font-family: 'garamond', garamond, times, georgia, serif;
	background: #F2F1DD;
	color: #000;
}

a:link, a:visited {text-decoration: underline;}
a:link:hover, a:visited:hover {text-decoration: underline;}

a:link, a:visited {color: #990066; text-decoration: none;}
a:link:hover, a:visited:hover {color: #ff3300; text-decoration: underline;}

#body {
	width: 500px;
	margin: 0 auto 50px auto;
	text-align: left;
	background: #fff;
	overflow: hidden;
	padding: 20px;
	border: 1px solid #E0DFCE;
}

#header {
	width: 500px;
	height: 400px;
	margin: 20px auto;
}

h1 {
	width: 500px;
	height: 400px;
	text-indent: -9999px;
	background: url(../img/title.png) no-repeat bottom right; 
}

h2 {
	font-size: 1.5em;
	margin: 0 0 40px 0;
	font-style: italic;
	text-align: center;
}

ul#nav {
	display: block;
	overflow: hidden;
	margin: 0 0 20px 0;
	padding: 0 0 20px 0;
	border-bottom: 3px solid #000;
	text-align: center;
}

ul#nav li {
	display: inline;
	margin: 0 15px;
}

ol li {
	margin: 0 0 40px 0;
}

img {
	max-width: 500px;
}

strong {
	font-weight: bold;
}

p {
	margin: 0 0 20px 0;
}

ul.parts li {
	list-style: disc outside;
	margin: 0 0 0 30px;
}

