<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>a chart made by the Brood II bot</title>
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="stylesheet" type="text/css" media="all" href="includes/css/skinChart.css" />
	<!-- Date: 2013-01-31 -->
</head>
<body>
	
	<div id="chartHeader">
		<span class="past"><span id="">3:00pm Feb 1 2013 Fri</span></span>
		<span class="current">Current time <span id="">3:01pm Feb 1 2013 Fri</span></span>
	</div>
	
	<div id="chart-container">
	</div>
	
	

</body>
</html>
