<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>the Brood II bot</title>
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="stylesheet" type="text/css" media="all" href="includes/css/skin.css" />
	<!-- Date: 2013-01-31 -->
</head>
<body>
	
	<div id="header">

		<h1>the Brood II bot</h1>
		
	</div>
	
	<div id="body">
	
		<ul id="nav">
			<li><a href="index.html">Index</a></li>
			<li><a href="kit.html">DIY Kit</a></li>
			<li><a href="reports.html">Reports</a></li>
		</ul>
	
	<h2>Index</h2>
	
	<p>Every 17 years, the Brood II Magicicada emerges from the earth along the East Coast when the soil warms to 64 degrees fahrenheit.</p>
	<p>Build and plant your own Brood II bot to track their arrival!</p>
	<p><a href="http://www.magicicada.org/about/behav.php">Read more</a> about the Magicicada.</p>
	
	</div>

</body>
</html>
