<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>the Brood II bot</title>
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="stylesheet" type="text/css" media="all" href="includes/css/skin.css" />
	<!-- Date: 2013-01-31 -->
</head>
<body>
	
	<div id="header">

		<h1>the Brood II bot</h1>
		
	</div>
	
	<div id="body">
	
		<ul id="nav">
			<li><a href="index.html">Index</a></li>
			<li><a href="kit.html">DIY Kit</a></li>
			<li><a href="reports.html">Reports</a></li>
		</ul>
	
	<h2>Building the DIY Kit</h2>
	
	<ol>
		<li>
			<img src="kit.jpg" /> <br/>
			<strong>Parts</strong> <br />
			Here are the parts you need to start building your kit:
				<ul class="parts">
					<li>Meat thermometer</li>
					<li>Enthusiasm</li>
				</ul>
		</li>
	
		<li>
			<img src="photo.jpg" /> <br/>
			Here's the second step.
		</li>
	</ol>
	
	</div>

</body>
</html>
