<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>the Brood II bot</title>
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="stylesheet" type="text/css" media="all" href="includes/css/skin.css" />
	<!-- Date: 2013-01-31 -->
</head>
<body>
	
	<div id="header">

		<h1>the Brood II bot</h1>
		
	</div>
	
	<div id="body">
	
		<ul id="nav">
			<li><a href="index.html">Index</a></li>
			<li><a href="kit.html">DIY Kit</a></li>
			<li><a href="reports.html">Reports</a></li>
		</ul>
	
	<h2>Reports</h2>
	
	<div>
		<!--<iframe width="500" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?ie=UTF8&amp;ll=40.649387,-74.029999&amp;spn=0.613691,0.962677&amp;t=m&amp;z=10&amp;output=embed"></iframe><br /><small><a href="https://www.google.com/maps?ie=UTF8&amp;ll=40.649387,-74.029999&amp;spn=0.613691,0.962677&amp;t=m&amp;z=10&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>-->
		<img src="transmission.gif" />
	</div>
	
	</div>

</body>
</html>
